.App-search {
  background-color: lightpink;
}


.App-search,
.App-search .CentredInput-label,
.App-search .CentredInput-input {
  font-family: sans-serif;
  font-size: 24px;
  height: 35px;
  line-height: 35px;
  margin: 0;
  padding: 5px;
}

.App-search .CentredInput-label {
  color: #fff;
}

.App-search .CentredInput-label:before {
  background: url('./magnifying-glass.svg') no-repeat;
  content: '';
  display: block;
  left: -26px;
  height: 26px;
  position: absolute;
  top: 0;
  width: 26px;
}

.App-section {
  background: limegreen;
  margin: 0 auto;
  padding: 15px;
  width: 350px;
}

.App-section .CentredInput {
  background: orange;
}

.App-section .CentredInput,
.App-section .CentredInput-label,
.App-section .CentredInput-input {
  font-family: sans-serif;
  font-size: 15px;
  height: 20px;
  line-height: 20px;
  padding: 0;
}

.App-section .CentredInput-label {
  color: white;
}
