.CentredInput {
  position: relative;
}

.CentredInput-label {
  color: #fff;
  display: inline;
  position: relative;
}

.CentredInput-input {
  background: transparent;
  border: none;
  box-sizing: border-box;
  font-family: sans-serif;
  left: 0;
  outline: none;
  position: absolute;
  text-align: center;
  width: 100%;
}

.CentredInput-input::placeholder {
  color: transparent;
}

.CentredInput-input:focus {
  text-align: left;
}

.CentredInput-input:not(:placeholder-shown) {
  text-align: center;
}
